## 결측치 처리
-  주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
- 데이터셋 : basic1.csv 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- 강의 영상 : https://youtu.be/WqlpqBRn7x4

In [26]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()
print(len(df)) #100
df.isnull().sum() #f3 삭제. f1은 city별 중앙값으로 대체

df = df.drop('f3', axis = 1)
df.head()

df['city'].unique()

for col in df.columns:
    if df[col].isnull().sum() > 0:
        df[col].fillna(df.groupby('city')[col].transform('median'), inplace=True)

df.isnull().sum()

print(df['f1'].mean())

100

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [ ]:
# EDA - 결측값 확인(비율 확인)

In [ ]:
# 80%이상 결측치 컬럼, 삭제

In [ ]:
# 80%미만 결측치 컬럼, city별 중앙값으로 대체

In [ ]:
# f1 평균값 결과 출력

## Hint
- city별 중앙값으로 대체에서는 map함수 활용

## 풀이

In [18]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# EDA - 결측값 확인
df.isnull().sum()

In [ ]:
# 데이터 shape
df.shape

In [ ]:
# EDA - 결측비율 확인
df.isnull().sum()/df.shape[0]

In [19]:
# f3 컬럼 삭제
print("삭제 전:", df.shape)
df = df.drop(['f3'], axis=1)
print("삭제 후:", df.shape)

# 결측치가 있는 컬럼을 제거하는 2가지 방법
# df.drop(['B', 'C'], axis=1)
# df.drop(columns=['B', 'C'])

삭제 전: (100, 8)
삭제 후: (100, 7)

In [ ]:
# 도시 확인
df['city'].unique()

In [20]:
# 도시별 중앙값 계산
s=df[df['city']=='서울']['f1'].median()
k=df[df['city']=='경기']['f1'].median()
b=df[df['city']=='부산']['f1'].median()
d=df[df['city']=='대구']['f1'].median()
s, k, b, d

#방법2
# k, d, b, s = df.groupby('city')['f1'].median()

(68.0, 58.0, 62.0, 75.0)

In [21]:
# 대체 전 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울   NaN   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산   NaN   1  ISFP  29.269869

In [22]:
# f1결측치 city별 중앙값으로 대체
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))

# 만약 그냥 f1 중앙값으로 대체 한다면 
# df['f1'] = df['f1'].fillna(df['f1'].median())

In [23]:
# 대체 후 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울  68.0   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산  62.0   1  ISFP  29.269869

In [24]:
#결과 출력
print(df['f1'].mean())

65.52